<footer class="footer" style="background-color: rgb(52, 237, 243);">
    <div class="container text-center" >
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/Patilsupriya123?tab=repositories" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://www.linkedin.com/in/supriya-patil-6341561b2/" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>