<h3>{{title}}</h3>
<div class="container-fluid" style="background-color: rgb(241, 58, 229);" >
    <br>
    <div class ="card" style="width:80px" alt=" text-right" margin="45px"><br>
        <img src=".\assets\image\Polish_20211205_125758044.png"  alt="Responsive image  text-right"></div>
        <p class="text-left"><b>Supriya patil</b></p>
        <p class="text-center"><b>Supriya Annasaheb Patil</b> <span class="glyphicon glyphicon-list-alt"></span></p>
        <p class="text-center"> <b>patilsupriya757@gmail.com | +91 9322804078| Barshi-Solapur 413406 |</b><span class="glyphicon glyphicon-list-alt"></span></p>
        <div class="container" ><p class="text-center" >
          <a href="https://www.linkedin.com/in/supriya-patil-6341561b2/"> <u><b>Linkedin</b></u> 
          </a> 
      </div>
</div>
<div> 
    <app-header></app-header>

<nav>
    <a routerLink="signup"><b>Register</b></a>|
    <a routerLink="signin"><b>Login</b></a>|
     <a routerLink="homepage"><b>Profile</b></a>|
<router-outlet></router-outlet>
<app-footer></app-footer>
