
<div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
    <div class="container-fluid">
        <br><h5><mark><b>Technical Summary:</b></mark> </h5>
<br>
<h5><mark> <b>CORE JAVA:</b></mark> </h5><br>

		<ul >
		  <li >Good in Java programming in Intelli Jidea tool</li>
		  <li >Good Knowledge about Control Statements.</li>
		  <li >Good in Classes and Objects.</li>
		  <li >Very Good Knowledge Of OOP’s principles.</li>
          <li >Good Knowledge in Type Casting, Abstract class and Interface.</li>
          <li >Good Knowledge Of Constructors and Methods.</li>
		</ul>
        </div>
        </div>

        <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
            <div class="container-fluid">
        <h5><mark> <b>C Programming:-</b></mark> </h5><br>

        <ul >
        <li >Good Knowledge Control Statements.</li>
        <li >Good Knowledge Of Array, Pointer.</li>
        </ul>
        </div>
        </div>

        <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
            <div class="container-fluid">
        <h5><mark> <b>HTML:</b></mark> </h5><br>

        <ul >
        <li >Good Knowledge Of HTML tags.</li>
        <li >Good Knowledge Of Heading, Paragraph, Styles.</li>
        <li >Good Knowledge Of Tables and Lists.</li>
        </ul>
        </div>
        </div>

        <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
            <div class="container-fluid">
        <h5><mark> <b>SQL:</b></mark> </h5>
       <br>
        <ul >
        <li >Good Knowledge on SQL Operation.</li>
        <li >Written SQL Queries and Sub-Queries.</li>
        </ul>
        </div>
    </div>

        <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
            <div class="container-fluid">
        <h5><mark> <b>J2EE:</b></mark> </h5>
        <br><ul>
        <li >Good Knowledge in Inheritance.</li>
        <li>Good knowledge of Encapsulation.</li>
        <li >Good knowledge of Polymorphism.</li>
        </ul>
        </div>
        </div>


        <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
            <div class="container-fluid">
        <h5><mark> <b>Technical Skills:</b></mark> </h5>
        <br><ul >
        <li ><b>Programming languages:- </b>Basics of C, C++, Python , Java , data Structure.</li>
        <li ><b>Web Technologies:- </b>HTML, CSS, JavaScript.</li>
        <li ><b>SDLC Methods :- </b>Agile, Waterfall Model.</li>
        <li ><b>Tools:- </b>Intelli JIdea</li>

        </ul>
        </div>
        </div>

        <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
            <div class="container-fluid">
        <h5><mark><b>Achievements / Trainings / Workshops :-</b></mark></h5>
        <br><ul >
        <li >Completing Software Development (Core Java,SQL ) Training at Qspider Institute ,Pune.</li>
        <li >Completed online soft skill course. </li>
        <li >Completed 15 days Workshop On IOT .</li>
        <li >Completed 7 days online workshop on Bacis C programming.</li>
</ul>
</div>
    </div>

    <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
        <div class="container-fluid">   
            <h5 ><mark><b>Educational Details:</b></mark> </h5>
            <table class="table table-bordered table-striped">
              <thead>
                      <tr>
                          <th><b>Qualification</b></th>
                          <th><b>Board/ University</b></th>
                          <th><b>College / Institute / School Name</b></th>
                          <th><b>Percentage
                              / CGPA</b></th>
      
                      </tr>
                      
                  </thead>
                  <tbody>
                      <tr>
                          <td><b>Bachelor of Technology(B.tech) Final year (4th )
                              Computer Science Engg. (2020-21)</b>
                              </td>
                          <td>Dr. Babasaheb Ambedkar Technological University (BATU)</td>
                          <td>Shri Tuljabhavani College of Enggineering, Tuljapur . OSmanabad</td>
                          <td>84%</td>
      
                      </tr>
      
                      <tr>
                          <td><b>Diploma in Computer Enggineering.
                              (2014-15)</b>
                              </td>
                          <td>MSBTE</td>
                          <td>Shri Shivaji Shikshan Prasarak Mandal’s Polytechnic Barshi, Solapur</td>
                          <td>70%</td>
      
                      </tr>
      
                      <tr>
                          <td><b>H.S.C.</b></td>
                          <td>Maharashtra Board</td>
                          <td>Dyanprasar Vidhyalay, Moha
                              ,Osmanabad.
                              </td>
                          <td>57%</td>
      
                      </tr>
      
                      <tr>
                          <td><b>S.S.C.</b></td>
                          <td>Maharashtra Board</td>
                          <td>Vakhariya Vidhyalaya Uple Dumala</td>
                          <td>75%</td>
      
                      </tr>
                      
                  </tbody>
              </table>
    <!--<h2 style="text-align:center;padding-top: 5%;"></h2>-->
    </div>
    </div>


    <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
        <div class="container-fluid">
            <h5 ><mark><b> Projects:</b></mark> </h5>

            <h5><b>Diploma Project:- </b><span class="badge badge-secondary">Online Examination System</span></h5>
            <p class="text-justify">We made this project in ASP.NET .This project randomly chooses question from a database the test has time limit where admin can change the duration of test before it begins in the code .Students can leave a questions unanswered and come back to the question using the previous and next buttons. My role was coding.</p>
            <h5><b>B.tech Project:-  </b><span class="badge badge-secondary">Measuring Social distance using YOLO.</span></h5>
            <p class="text-justify">Social distancing is delibrately increasing the physical space between people to avoid spreading illness.Staying at least six feet away from other people lessons your chances of contracting COVID- 19.We can use OpenCV and YOLO to monitor /analyse wheather people are maintain social distancing or not. My role was documentation.</p>
        </div>
        </div>
        
        <div class="jumbotron" style="margin:45px" style="background-color: rgb(200, 205, 207);">
            <div class="container-fluid" style="text-align: left;">
                <h5><mark> <b>Personal Information:-:</b></mark> </h5>
        <br><ul >
        <li ><b>Marital Status:- </b>Single.</li>
        <li ><b>Gender:- </b>Female.</li>
        <li ><b> Nationality:- </b>Indian.</li>
        <li ><b>Hobbies:- </b>Coding,Volunteering work, Travelling.</li>

        </ul>
        <li><p class="text-justify">I hereby declare that the information provided above is true and correct to the best of my knowledge and belief.</p>
    </li>
        </div>
        </div>
        
        
        
       
       